.maininicio{
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        color: $colorcuarto;
    }
    .container-inicio{
        width: 100%;
        margin: auto;
        .row{
            width: 100%;
            .div-menu{
                padding: 5px;
                background-color: #fdf077;
                border-radius: 10px;
                ul{
                    width: 100%;
                    h2{
                        font-size: 2vw;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        color: rgb(35, 114, 233);
                    }
                    li{
                        padding-left: 10px;
                        padding-bottom: 20px;
                        font-size: 23px;
                        a{
                            color: #1d1d1d;
                            text-decoration: none;
                            &:hover{
                                color: rgb(15, 255, 15);
                            }
                        }
                    }
                }
            }
            .container-inicio-card{
                .row{
                    .columnas-card-inicio{
                        .card{
                            border-radius: 30px;
                            margin: 5%;
                            background-color: $colorsecundario;
                            box-shadow: 7px 13px 37px #000;
                            height: 75vh;
                            .card-img-top{
                                border-radius: 50px;
                                padding: 20px;
                            }
                            .card-body{
                                position: relative;
                                h3{
                                    color: $colorcuarto;
                                }
                                h4{
                                    color: $colorcuarto;
                                }
                                .boton-card-index{
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    border-radius: 50px;
                                    width: 90%;
                                    margin: 5%;
                                    &:hover{
                                        background-color: $colorsecundario;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .container-boton-todosproductos{
            .boton-todosproductos{
                border-radius: 40px;
                &:hover{
                    background-color: $colorsecundario;
                }
                a{
                    text-decoration: none;
                    color:$colorterciario;
                    &:hover{
                        color: rgb(15, 255, 15);
                    }
                }
            }
        }
    }
}



@media (max-width: 992px){
    .div-menu{
        h2{
            font-size: 5vw;
        }
    }
}

@media (max-width: 767px) {
    .container-inicio-card .card{
        height: 70vh;
        h2{
            font-size: 4vw;
        }
    }

    .div-menu{
    ul{
        h2{
            font-size: 6vw;
        }
    }
    li{
        font-size: 13px;
    }
    }

    .card-body{
        padding: 10%;
        padding-top: 5%;
    }
}

@media (max-width: 500px) {
    h1{
        font-size: 30px;
    }
    .container-inicio-card .card{
        height: 60vh;
        h5{
            font-size: 15px;
        }
    }

    .div-menu{
    ul{
        li{
            font-size: 10px;
        }
        h2{
            font-size: 5vw;
        }
    }
    }
}

@media (max-width: 420px) {
    h1{
        font-size: 20px;
    }
    .container-inicio-card .card{
        height: 45vh;
    }

    .div-menu ul{
        li{
            font-size: 10px;
        }
        h2{
            font-size: 40px;
        }
    }
}