/*-------------------------------------------------------------------------------------------------------------*/
/*Variables*/
/*-------------------------------------------------------------------------------------------------------------*/
$colorprimario: #fff59d;
$colorsecundario: #1b3039;
$colorterciario: #eceff1;
$colorcuarto:#85afec;


/*-------------------------------------------------------------------------------------------------------------*/
/*Imports*/
/*-------------------------------------------------------------------------------------------------------------*/

@import "reseteo";
@import "header";
@import "footer";
@import "index";
@import "./paginas/productos";
@import "./paginas/stock";
@import "./paginas/contacto";
@import "./paginas/carrito";
@import "./paginas/cuenta";