/*igual para todos los html*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    list-style: none
}

html {
    height: 100%;
}

body {
    background-color: #fff59d;
    position: relative;
    min-height: 100vh;
}

.header {
    background-color: #1b3039;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 5px 10%;
    z-index: 100;
    position: fixed;
    top: 0;
}

.header__logo img {
    border-radius: 40px;
    height: 70px;
    width: auto;
    cursor: pointer;
    transition:all 0.3s;
}

.header__logo img:hover {
    transform: scale(1.2);
}

.header__nav li{
    display: inline-block;
    padding: 0 20px;
}

.header__nav li:hover {
    transform: scale(1.1);
    color: #fff59d;
}

.header__nav a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header__nav li a:hover{
    color: #fff59d;
}

.header__nav .header-nav-ul-li__paginaactual {
    color: #fff59d;
}

main {
    margin-top: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}










footer {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    padding: 2rem 8%;
    background-color: #1b3039;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-div1__logo .footer-div1-logo__img {
    border-radius: 40px;
    height: 80px;
    margin-top: auto;
    cursor: pointer;
}

.footer-div2__iconos .footer-div2-iconos__img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid;
    margin: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-div2__iconos .footer-div2-iconos__img:hover{
    background-color:#fff59d;
    color: #1b3039;
    transform: scale(1.1);
}








.card-img-top{
    border-radius: 50px;
    padding: 20px;
}

.card{
    border-radius: 30px;
    margin: 5%;
    background-color: #1b3039;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-body{
    padding: 25px;
    margin-top: -15px;
}

.btn-primary{
    border-radius: 50px;
    width: 120px;
    margin: 5%;
}

.btn-primary:hover{
    background-color: #1b3039;
}

h3,h5{
    color: rgb(133, 175, 236);
}

p{
    color: #eceff1;
}