.main-carrito{
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        color: $colorcuarto;
    }
    .container-carrito{
        .row-carrito-titulo{
            p{
                font-size: 3vw;
                color: #000;
            }
        }
        .row-carrito{
            img{
                width: 80%;
                border-radius: 20px;
                box-shadow: 7px 13px 37px #000;
                cursor: pointer;
            }
            p{
                font-size: 3vw;
                color: #000;
            }
            .cantidad{
                width: 100%;
                background-color: #e6d966;
                border: solid black;
                border-radius: 10px;
            }
        }
    }
    .container-total{
        margin: 0 7%;
        h1{
            color: #000;
        }
        p{
            color: #000;
        }
        .boton-carrito{
            width: 100%;
            border-radius: 40px;
        }
    }
}

@media (max-width: 767px) {
    .p-cantidad{
        display: none;
    }
    .row-carrito {
        img{
        width: 100%;
        }
    .cantidad{
        width: 80%;
        }
    }
}

@media (max-width: 550px) {
    .row-carrito img{
        width: 120%;
    }
}